@import url("https://fonts.googleapis.com/css2?family=Tiro+Bangla:ital@0;1&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Work Sans", sans-serif;
}
/* Shared Styles */

.display-flex {
  display: flex;
  gap: 20px;
}
.button {
  border-radius: 8px;
  border: none;
  background-color: rgba(255, 144, 14, 1);
  font-size: 1.24rem;
  font-weight: 600;
  line-height: 1.43rem;
  text-align: center;
  width: 180px;
  height: 64px;
  color: rgba(255, 255, 255, 1);
  padding: 21px 25px;
}
header {
  background: rgba(255, 144, 14, 0.1);
}

/* header styles */
.nav-bar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}
.nav-bar {
  justify-content: space-around;
  align-items: center;
}
.nav-bar h1 {
  font-size: 2.8125rem;
  color: rgba(19, 19, 19, 1);
}
.nav-links{
  justify-content: center;
}

.nav-links,
a {
  list-style: none;
  gap: 40px;
  align-items: center;
  font-size: 1.125rem;
  text-decoration: none;
  color: rgba(66, 66, 66, 1);
  font-style: medium;
  font-weight: 500;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

/* banner styles */

.banner-header {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  line-height: 75px;
}

.banner-img {
  width: 100%;
}
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
}

.banner-btn{
  margin-bottom: 50px;
  margin-top: 32px;
}

/* responsive layout design */
@media screen and (max-width: 576px){
  .nav-bar, .nav-links {
    flex-direction: column;
  }
}